<!DOCTYPE html>
<html>

    <head>
        <title>Lucas Messias</title>

        <link rel="stylesheet" href="/styles.css">
    </head>

    <body>
        <header>
            <div class="links">
                <a href="/">Sobre</a>
                <a href="/">Aulas</a>
            </div>
        </header>

        <div id="wrapper">
            <img src="https://avatars2.githubusercontent.com/u/36428045?s=400&u=75a364fd5cb9efb61aaa4cb9c8c297bb31537672&v=4" alt="Lucas Messias">
            <h1>Lucas Messias</h1>
            <h2>Desenvolvedor Júnior</h2>
            <p>Dev, Programador</p>
        </div>

        <div id="links-footer" class="links">
            <a href="https://github.com/lucasmessias9898" target="_blank">Github</a>
            <a href="/" target="_blank">Twitter</a>
            <a href="https://www.linkedin.com/in/lucas-maciel-messias-6a370a141/" target="_blank">Linkedin</a>
        </div>

    </body>
</html>
